[Unit]
Description=Blog API - karbasi.dev

[Service]
User=yourusername
WorkingDirectory=/path/to/compiled
ExecStart=/path/to/compiled/api

[Install]
WantedBy=multi-user.target
